.profile__job {
    align-self: center;
    grid-area: job;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-top: 0;
    line-height: 22px;
    font-weight: 400;
    font-size: 18px;
    max-width: 336px;
}
@media screen and (max-width: 619px) {
    .profile__job {
        max-width: 282px;
        margin: 8px auto 0;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
    }
}