.popup__item {
    width: 100%;
    margin: 0;
    padding: 4px 0 8px;
    box-sizing: border-box;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    background-color: transparent;
    font-size: 14px;
    line-height: 17px;
}
.popup__item:focus {
    outline: none;
    border: 1px solid rgba(97,92, 247, 1);
}
